<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">FullStack Developer</h2>
                <hr class="light">
                <p class="text-faded">Strong set of technical skills with a holistic set of work experience and a practical organized "get it done" approach. </p>
                <br>
                <p class="text-faded">#Curious Creature  #Kind Human  #Cool Woman  #Mother of Two </p>
                <br>
                <!-- <p class="text-faded">Some of Languages I use: Ruby JS</p> -->
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
